Repository tsuji-tomonori/ref-net: changes, and which Codecov flags are due for each by the changed paths.
All: API Service, Crawler Service, Summarizer Service, Generator Service, Shared Library

feat(ci): カバレッジレポートにCodecovリンクと詳細情報を追加
  .github/workflows/ci.yml
Due: none

docs(README): CodecovとSonarCloudのバッジを追加
  README.md
Due: none

docs(README): 使用技術のバッジを包括的に追加
  README.md
Due: none

feat(celery-integration): Celery統合設定の実装
  .env.example
  package/crawler/src/refnet_crawler/celery_app.py
  package/crawler/src/refnet_crawler/tasks/crawl_task.py
  package/crawler/uv.lock
  package/generator/src/refnet_generator/celery_app.py
  package/generator/src/refnet_generator/tasks/generate_task.py
  package/generator/uv.lock
  package/shared/Dockerfile.beat
  package/shared/Dockerfile.flower
  package/shared/pyproject.toml
  package/shared/src/refnet_shared/celery_app.py
  package/shared/src/refnet_shared/tasks/__init__.py
  package/shared/src/refnet_shared/tasks/maintenance.py
  package/shared/src/refnet_shared/tasks/monitoring.py
  package/shared/uv.lock
  package/summarizer/src/refnet_summarizer/celery_app.py
  package/summarizer/src/refnet_summarizer/tasks/summarize_task.py
  package/summarizer/uv.lock
Due: Crawler Service, Summarizer Service, Generator Service, Shared Library

test(generator): Add comprehensive tests for Celery integration
  package/crawler/src/refnet_crawler/tasks/crawl_task.py
  package/generator/coverage.json
  package/generator/pyproject.toml
  package/generator/src/refnet_generator/tasks/generate_task.py
  package/generator/tests/test_celery_app.py
  package/generator/tests/test_generate_task.py
  package/shared/coverage.json
  package/shared/src/refnet_shared/celery_app.py
  package/shared/src/refnet_shared/tasks/maintenance.py
  package/shared/src/refnet_shared/tasks/monitoring.py
  package/summarizer/src/refnet_summarizer/tasks/summarize_task.py
Due: Crawler Service, Summarizer Service, Generator Service, Shared Library

fix(celery): Celery設定の修正とテストの充実化
  package/shared/coverage.json
  package/shared/src/refnet_shared/celery_app.py
  package/shared/src/refnet_shared/tasks/maintenance.py
  package/shared/src/refnet_shared/tasks/monitoring.py
  package/shared/tests/test_maintenance_tasks.py
  package/shared/tests/test_monitoring_tasks.py
Due: Shared Library

feat(test): shared packageのテストカバレッジを82.5%に向上
  package/generator/coverage.json
  package/shared/coverage.json
  package/shared/tests/test_auto_recovery.py
  package/shared/tests/test_cli.py
  package/shared/tests/test_cli_extended.py
  package/shared/tests/test_monitoring_tasks_extended.py
  package/shared/tests/test_scheduled_tasks.py
Due: none

fix(shared): Fix multiple test failures and improve coverage
  package/shared/tests/test_auto_recovery.py
  package/shared/tests/test_cli.py
  package/shared/tests/test_monitoring_tasks_extended.py
  package/shared/tests/test_scheduled_tasks.py
Due: none

fix(shared): 全18件の失敗テストを修正し、テストカバレッジ89.67%達成
  .pre-commit-config.yaml
  package/shared/coverage.json
  package/shared/tests/test_auto_recovery.py
  package/shared/tests/test_scheduled_tasks.py
  package/summarizer/coverage.json
Due: none

fix(summarizer): テスト非同期処理修正とカバレッジ要件調整
  .pre-commit-config.yaml
  package/crawler/coverage.json
  package/shared/coverage.json
  package/summarizer/coverage.json
  package/summarizer/pyproject.toml
  package/summarizer/tests/test_main.py
  package/summarizer/tests/test_tasks.py
Due: Summarizer Service

feat(pre-commit): CI環境でのみmoon-checkをスキップ
  .pre-commit-config.yaml
  package/shared/coverage.json
  package/shared/tests/test_celery_app.py
Due: none

feat(test): crawlとsummarizeタスクのテスト実装
  package/crawler/tests/test_crawl_task.py
  package/summarizer/tests/test_summarize_task.py
Due: none

chore: coverage.jsonをgit追跡から除外し.gitignoreに追加
  .gitignore
  package/crawler/coverage.json
  package/summarizer/coverage.json
Due: none

feat(service-integration): サービス間連携設定を実装
  .env.example
  package/api/src/refnet_api/routers/papers.py
  package/api/uv.lock
  package/crawler/src/refnet_crawler/tasks/crawl_task.py
  package/generator/src/refnet_generator/tasks/generate_task.py
  package/shared/alembic/versions/20250712_072821_add_integration_fields_to_paper_model.py
  package/shared/src/refnet_shared/models/database.py
  package/shared/src/refnet_shared/models/paper.py
  package/summarizer/src/refnet_summarizer/tasks/summarize_task.py
Due: API Service, Crawler Service, Summarizer Service, Generator Service, Shared Library

feat(service-integration): サービス間連携設定を実装
  package/generator/src/refnet_generator/services/generator_service.py
  package/generator/src/refnet_generator/tasks/__init__.py
  package/generator/src/refnet_generator/tasks/generate_task.py
  package/generator/tests/test_celery_app.py
  package/generator/tests/test_generator_service.py
Due: Generator Service

fix: Paperモデル属性変更に伴う型エラー修正とmoon:check完全成功
  package/crawler/src/refnet_crawler/clients/semantic_scholar.py
  package/crawler/src/refnet_crawler/tasks/__init__.py
  package/crawler/src/refnet_crawler/tasks/crawl_task.py
  package/crawler/tests/test_crawl_task.py
  package/crawler/tests/test_crawler_service.py
  package/crawler/tests/test_main.py
  package/crawler/tests/test_semantic_scholar_client.py
  package/crawler/tests/test_tasks.py
  package/shared/src/refnet_shared/tasks/maintenance.py
  package/shared/src/refnet_shared/tasks/scheduled_tasks.py
  package/summarizer/src/refnet_summarizer/clients/ai_client.py
  package/summarizer/src/refnet_summarizer/services/summarizer_service.py
  package/summarizer/src/refnet_summarizer/tasks/summarize_task.py
Due: Crawler Service, Summarizer Service, Shared Library

fix(schema): データベースモデル変更に合わせてレスポンススキーマを修正
  package/api/pyproject.toml
  package/api/src/refnet_api/responses/paper.py
  package/crawler/pyproject.toml
  package/generator/pyproject.toml
  package/shared/src/refnet_shared/models/schemas.py
  package/summarizer/pyproject.toml
Due: API Service, Crawler Service, Summarizer Service, Generator Service, Shared Library

fix(models): Paperモデルのフィールド変更に対応してmoon:check完全成功
  package/api/coverage.json
  package/api/tests/test_papers_extended.py
  package/crawler/src/refnet_crawler/clients/semantic_scholar.py
  package/crawler/src/refnet_crawler/services/crawler_service.py
  package/crawler/src/refnet_crawler/tasks/crawl_task.py
  package/crawler/tests/test_crawl_task.py
  package/crawler/tests/test_crawler_service.py
  package/crawler/tests/test_main.py
  package/crawler/tests/test_semantic_scholar_client.py
  package/crawler/tests/test_tasks.py
  package/generator/coverage.json
  package/generator/src/refnet_generator/services/generator_service.py
  package/generator/src/refnet_generator/tasks/__init__.py
  package/generator/src/refnet_generator/tasks/generate_task.py
  package/generator/src/refnet_generator/templates/paper.md.j2
  package/generator/tests/test_celery_app.py
  package/generator/tests/test_generate_task.py
  package/generator/tests/test_generator_service.py
  package/shared/coverage.json
  package/summarizer/src/refnet_summarizer/tasks/__init__.py
  package/summarizer/src/refnet_summarizer/tasks/summarize_task.py
  package/summarizer/tests/test_summarizer_service.py
Due: Crawler Service, Summarizer Service, Generator Service

chore(api): カバレッジファイルをgit管理から除外
  package/api/coverage.json
Due: none

chore(generator): カバレッジファイルをgit管理から除外
  package/generator/coverage.json
Due: none

feat(security): セキュリティ運用プロセスの確立
  docs/security/incident_response_procedure.md
  docs/security/security_audit_checklist.md
  scripts/security_monitoring.py
  scripts/setup_security_cron.sh
  tests/test_security_monitoring.py
Due: none

feat(security): 脆弱性管理体制の確立
  .github/workflows/security-scan.yml
  docs/security/patch_management.md
  scripts/generate_vulnerability_report.py
  scripts/update_dependencies.sh
Due: none

fix(ci): GitHub Actionsワークフローに適切な権限を追加
  .github/workflows/security-scan.yml
Due: none

fix(docker): Dockerビルドコンテキストとパス依存の修正
  .github/workflows/security-scan.yml
  package/api/Dockerfile
Due: API Service

fix(docker): README.mdファイルをDockerイメージにコピー
  package/api/Dockerfile
Due: API Service

fix(ci): 不要なsharedパッケージのDockerビルドを削除
  .github/workflows/security-scan.yml
Due: none

fix(ci): Trivyスキャン用のreportsディレクトリを作成
  .github/workflows/security-scan.yml
Due: none

fix(docker): Dockerファイルのビルドコンテキストとパス依存の修正
  docker-compose.yml
  package/crawler/Dockerfile
  package/generator/Dockerfile
  package/summarizer/Dockerfile
Due: Crawler Service, Summarizer Service, Generator Service

fix(docker): README.mdファイルをDockerイメージにコピー
  package/crawler/Dockerfile
  package/generator/Dockerfile
  package/summarizer/Dockerfile
Due: Crawler Service, Summarizer Service, Generator Service

docs: 最低限の実行手順と環境変数設定をREADME.mdに追加
  .env.example
  README.md
Due: none

fix(summarizer): Claude Codeテストのファイルアクセス問題を修正
  docker-compose.yml
  docs/summarizer/ai-integration.md
  package/summarizer/src/refnet_summarizer/clients/ai_client.py
  package/summarizer/tests/test_ai_client.py
Due: Summarizer Service

Path conditions:
  API Service: any of: package/api/**, but not: **/__pycache__/**, **/tests/**, **/test_*, **/.venv/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage.json, **/mypy_plugin.py, **/fastapi_checker.py, .github/**, docs/**, *.md, *.yml, *.yaml, *.toml, *.cfg, *.ini
  Crawler Service: any of: package/crawler/**, but not: **/__pycache__/**, **/tests/**, **/test_*, **/.venv/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage.json, **/mypy_plugin.py, **/fastapi_checker.py, .github/**, docs/**, *.md, *.yml, *.yaml, *.toml, *.cfg, *.ini
  Summarizer Service: any of: package/summarizer/**, but not: **/__pycache__/**, **/tests/**, **/test_*, **/.venv/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage.json, **/mypy_plugin.py, **/fastapi_checker.py, .github/**, docs/**, *.md, *.yml, *.yaml, *.toml, *.cfg, *.ini
  Generator Service: any of: package/generator/**, but not: **/__pycache__/**, **/tests/**, **/test_*, **/.venv/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage.json, **/mypy_plugin.py, **/fastapi_checker.py, .github/**, docs/**, *.md, *.yml, *.yaml, *.toml, *.cfg, *.ini
  Shared Library: any of: package/shared/**, but not: **/__pycache__/**, **/tests/**, **/test_*, **/.venv/**, **/.pytest_cache/**, **/htmlcov/**, **/coverage.json, **/mypy_plugin.py, **/fastapi_checker.py, .github/**, docs/**, *.md, *.yml, *.yaml, *.toml, *.cfg, *.ini
